menu {
    float: right;
    padding: 0;
    margin: 0;
}

menu ul {
    display: table;
    padding: 0;
    margin: 0;
    list-style: none;
}

menu ul li {
    float: left;
    display: table-row;
}

menu ul li a {
    display: table-cell;
    color: inherit;
    text-decoration: none;
    height: 50px;
    font-size: 0.8em;
    vertical-align: middle;
    padding: 0 15px;
}

menu ul li a:hover {
    background: #295c8a;
}